.ItemListContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 5%;
    padding-bottom: 50%;
    background-color: rgb(254, 246, 228);
    color: rgb(120, 124, 122);
    font-size: 20px;
    font-family: "Varela Round", sans-serif;
}